<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YHHomeworkW2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55E274011C01B0B500BB5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E2741A1C01B0B500BB5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E274251C01B0B500BB5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
